*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: linear-gradient(to left bottom, #fcd167, #ffcb75, #ffc683, #ffc292, #ffc09f, #ffbb9d, #ffb69b, #ffb199, #ffa688, #fd9c76, #fb9264, #f78851);
}

.card{
    height: 25vh;
    width: 90vw;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: top;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
    left: 100px;
    display: none;
    transition: all ease .2s;
}